@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #fafafa;
  background-color: #fafafa;
}

header{
  display: flex;
  justify-content: center;
  img{
    height: 120px;
    width: auto;
  }
}

#peliculas{
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content: space-around;
  
  article{
    max-width: 200px;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
  }

  img{
    height: 300px;
    width: 200px;
    border-radius: 3%;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(184,184,245,1); //#B8B8F5
    -moz-box-shadow: 0px 10px 40px 0px rgba(184,184,245,1);
    box-shadow: 0px 10px 40px 0px rgba(184,184,245,1);
    margin-block-end: 6%;
    transition: 0.5s;
  }

  img:hover{
    -webkit-box-shadow: 10px 20px 50px 20px rgba(184,184,245,1);
    -moz-box-shadow: 10px 20px 50px 20px rgba(184,184,245,1);
    box-shadow: 10px 20px 50px 20px rgba(184,184,245,1);
  }

  a {
    text-decoration: none;
  }

  .title{
    color: #585483;
    align-self: flex-end;
    height: 3rem;
    text-decoration: none;
    width: 200px;
    text-align: center;
  }
  
  .ratio{
    width: 300px;
    text-align: right;
    text-align: center;
    padding-top: 3%;
  }
  
  .date{
    width: 100%;
    color: #585483;
    text-align: center;
    padding-bottom: 10%;
  }
}

#busqueda{
  display:flex;
  justify-content: center;
}

#inputBusqueda {
  height: 60px;
  width: 50%;
  font-size: 1rem;
  border:1px solid #dcdcdc;
  color: #3D3D3D;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  padding-left: 20px;
}


input[type=text] {
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus {
  box-shadow: none;
  border: none;
}

.botonesOrdenar{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.botonOrdenar{
  font-size: 1rem;
  margin: 0 25px;
}

.stars{
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}